<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">{{site.title}}</h1>
		<ul class="pull-right breadcrumb">
<!--===   	<li><a href="{{ site.baseurl }}/"><i class="icon-home"></i> Home</a> </li>
        	{% assign crumbs = page.url | split: '/' %}
        	{% assign crumbstotal = crumbs | size %}
        	{% for crumb in crumbs offset:1 %}
        	    {% unless crumb == 'index.html' %}
        	        <li><span class="divider">&#187;</span> {{ crumb | remove: '.html' }} </li>
        	    {% endunless %}
        	{% endfor %}===-->
		</ul>
    </div>
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->